# Esclude le cartelle di build di PlatformIO ovunque si trovino
**/.pio/
**/.pioenvs/
**/.piopkgs/

# Esclude le configurazioni locali di VS Code in ogni sottocartella
**/.vscode/

# Esclude i file compilati
*.bin
*.elf
*.hex

# Varie
.DS_Store
**/.pcode/